/* ----- L A Y O U T ----- */
.mian-container {
  display: flex;
  width: 1200px;
}
/*----- General Rules -----*/
ul {
  list-style-type: none;
}

section h2:first-child {
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: left;
  background-color: gray;
  color: white;
}
/*----- A S I D E -----*/
aside {
  background-color: #FAF97B;
  width: 35%;
  margin-right: 3%;
}
#contacts-h2 {
  background-color: transparent;
  text-align: center;
  color: black;
}
aside * {
  color: black;
}

#profile-pic img {
  border-radius: 50%;
}
/*----- M A I N -----*/
main article h3 {
  font-weight: bold;
}
#school {
  text-transform: capitalize;
  letter-spacing: 3px;
}
#degree {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* DL */
dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
dt {
  width: 33%;
  font-weight: bold;
}
dd {
  width: 53%;
}

dt,
dd {
  line-height: 1em;
  border-top: 1px solid black;
  margin: 0;
}
dt:last-of-type,
dd:last-of-type {
  border-bottom: 1px solid black;
}

/* ----- I C O N S ----- f008 f02d*/
.music::before {
  content: "\f152";
  font-family: "Font Awesome 5 Free";
}

.book::before {
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
}
.movie::before {
  content: "\f008";
  font-family: "Font Awesome 5 Free";
}

.hobby-icon {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}
